<!DOCTYPE html>
<html lang="en"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>read</h2>
    <div>
        <table>
            <thead>
                <th>email</th>
            </thead>
            <tbody>
                <tr th:each="userData : ${userData}" th:object="${userData}">
                    <td th:text="${userData.email}">email</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>