<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>index pagessss</h2>
    <div>
        <h2>create</h2>
        <form action="/create" method="get">
            <input type="submit" value="CREATE">
        </form>
    </div>
    <div>
        <h2>read</h2>
        <form action="/read" method="get">
            <input type="submit" value="READ">
        </form>
    </div>
    <div>
        <h2>update</h2>
        <form action="/update" method="get">
            <input type="submit" value="UPDATE">
        </form>
    </div>
    <div>
        <h2>delete</h2>
        <form action="/delete" method="get">
            <input type="submit" value="DELETE">
        </form>
    </div>
</div>
</body>
</html>